version: '3.7'
services:

  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ${PERSISTENT_VOLUMES}/mosquitto/config:/mosquitto/config
      - ${PERSISTENT_VOLUMES}/mosquitto/data:/mosquitto/data

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    depends_on:
      - "mosquitto"
    volumes:
      - ${PERSISTENT_VOLUMES}/zigbee2mqtt:/app/data
    ports:
      # Frontend port
      - "8080:8080"
    environment:
      - TZ=Europe/Berlin
    devices:
      # Make sure this matched your adapter location
      - ${ZIGBEE_DEVICE}

  influxdb:
    image: influxdb:latest
    ports:
      - '8086:8086'
    volumes:
      - ${PERSISTENT_VOLUMES}/influxdb/config:/etc/influxdb2
      - ${PERSISTENT_VOLUMES}/influxdb/data:/var/lib/influxdb2
    environment:
      - INFLUXDB_DB=db0
      - INFLUXDB_ADMIN_USER=${INFLUXDB_USERNAME}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_PASSWORD}


  nodered:
    build: services/nodered
    restart: unless-stopped
    depends_on:
      - mosquitto
      - influxdb
    user: "0"
    environment:
      - TZ=Europe/Berlin
    ports:
      - "1880:1880"
    volumes:
      - ${PERSISTENT_VOLUMES}/nodered:/data
    devices:
      # USB to RS485
      - ${MODBUS_DEVICE}:/dev/ttyUSB0
